*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body{
    background-color: #0F0D13;
    font-family: 'Roboto', sans-serif;
}

#app{
    display: grid;
    grid-template-areas:
    'A B'
    'A C';

    gap: 32px;

    place-content: center;
    height: 100vh;
}

#app *{
    
}

#player1{  /*PLAYER 1*/
    grid-area: A;

    padding: 50px 38px;
}

#player1 img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
}

#player1 .wrapper{
    width: 190px;
}

#player1 .info{
    margin-top: 28px;
}

#player2{  /*PLAYER2*/
    grid-area: B;
}



#player3{ /*PLAYER3*/
    grid-area: C;
}

.player{
    background-color: #2A2141;
    padding: 28px;
    border-radius: 10px;
}

.player img{
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 6px;
}

.info-wrapper{
  display: flex;
  align-items: center;
  gap: 28px; 
}

.info{
    color: #E1E1E6;
}

.info h1{
    font-size: 24px;
    padding-bottom: 9.6px;
}

.info p{
    opacity: 0.67;
    font-size: 19px;
}

.controls{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 28px;

}

.track{
    margin-top: 28px;
    position: relative;
}

.track::before{
    content: '';
    height: 6px;
    width: 100%;
    display: block;
    background: #d9d9d9;
    opacity: 0.3;
    border-radius: 9.6px;
    position: absolute;
}

.track::after{
    content: '';
    height: 6px;
    width: 80%;
    display: block;
    background: #d9d9d9;
    border-radius: 9.6px;
}

.track-time .time{
    color: #C4C4CC;
    opacity: 0.7;
    font-weight: 400;
    display:flex;
    justify-content:space-between;
    margin-top: 9.6px;
}
